<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>Every Open Eye</string>
	<key>artistName</key>
	<string>CHVRCHES</string>
	<key>coverURL</key>
	<string>https://lastfm-img2.akamaized.net/i/u/300x300/2922d854b939c7ef8ae584552a3ff106.png</string>
	<key>currentPosition</key>
	<string>73</string>
	<key>isLoved</key>
	<string>false</string>
	<key>oldFilename</key>
	<string></string>
	<key>songChanged</key>
	<string>false</string>
	<key>songDuration</key>
	<string>244</string>
	<key>songName</key>
	<string>Empty Threat</string>
</dict>
</plist>
