<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>Corals</string>
	<key>artistName</key>
	<string>Fujitsu</string>
	<key>coverURL</key>
	<string>https://lastfm-img2.akamaized.net/i/u/300x300/edbc963a1f220b2b61cace976ced7b29.png</string>
	<key>currentPosition</key>
	<string>73</string>
	<key>isLoved</key>
	<string>false</string>
	<key>oldFilename</key>
	<string>/Users/adam/Library/Application Support/Übersicht/widgets/macOS.widget/lib/cover688.jpg</string>
	<key>songChanged</key>
	<string>false</string>
	<key>songDuration</key>
	<string>124</string>
	<key>songName</key>
	<string>Driftwood</string>
</dict>
</plist>
